@charset "utf-8";

#flag {
  top: 0;
  background-image: url("images/arizonaflag.png");
  min-height: 100%;
  width: 100%;
  position: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  left:0;
}

#topheader {
	background-color: blue;
	color: red;
	text-align: center;
	position: fixed;
	top:0;
	left: 0;
	height: auto;
	width: 100%;
}

#botheader {
	background-color: blue;
	color: red;
	text-align: center;
	position: fixed;
	bottom:0;
	left:0;
	height: auto;
	width: 100%;
}

.buttons {
	text-align: center;
	position: relative;
	top: 190px;
}

.inbutton {
	color: red;
	margin: 10px;
	font-size: 30px;
}

.buttonv2 {
	text-align: left;
	position: relative;
	top: 20px;
	color: red;
	margin: 10px;
	font-size: 30px;
}

#fillthis {
	color: red;
}

.team {
	float: right;
	height: 100px;
	width: 100px;
	padding: 60px;
}

#actualgame {
	float: left;
	height: auto;
	width: auto;
}
