@CHARSET "ISO-8859-1";
.map{	
    width:584px;
    height:100%;
	background-color: #804000;
	margin:5px;
}

.playerID{
	position: absolute;
	top: 8px;
	left: 60px;
	background-color: green;
	button-style: none;
	border-style: solid;
	border-color: black;
	font-family: courier;
	font-weight: bold;
	margin: auto 25%;
	padding: 0 50px;
	float: right;
}

button{
	background-color: green;
	button-style: none;
	border-style: solid;
	border-color: black;
	font-family: courier;
	font-weight: bold;
}

button:active{
	background-color: #ce0000;
}

.map :hover img {
	cursor: pointer;
}
.map :acitve img {
	background-color:red;
}

.Apache{
	position: absolute;
    left: 532px;
    top: 116px;
    z-index: 1;
}
.Apache img{
	width:25px; 
	height:100%;
}

.Cochise{
	position: absolute;
    left: 499px;
    top: 618px;
    z-index: 1;
}

.Cochise img{
	width:25px; 
	height:100%;
}

.Coconino{
	position: absolute;
    left: 285px;
    top: 153px;
    z-index: 1;
}
.Coconino img{
	width:25px; 
	height:100%;
}
.Gila{
	position: absolute;
    left: 424px;
    top: 411px;
    z-index: 1;
}
.Gila img{
	width:25px; 
	height:100%;
}
.Graham{
	position: absolute;
    left: 499px;
    top: 505px;
    z-index: 1;
}
.Graham img{
	width:25px; 
	height:100%;
}
.Greenlee{
	position: absolute;
    left: 552px;
    top: 455px;
    z-index: 1;
    text-align:right;
    line-height: 80%;
}
.Greenlee img{
	width:25px; 
	height:100%;
}
.La_Paz{
	position: absolute;
    left: 94px;
    top: 391px;
    z-index: 1;
}
.La_Paz img{
	width:25px; 
	height:100%;
}
.Maricopa{
	position: absolute;
    left: 195px;
    top: 458px;
    z-index: 1;
}
.Maricopa img{
	width:25px; 
	height:100%;
}
.Mohave{
	position: absolute;
    left: 83px;
    top: 187px;
    z-index: 1;
}
.Mohave img{
	width:25px; 
	height:100%;
}
.Navajo{
	position: absolute;
    left: 451px;
    top: 213px;
    z-index: 1;
    }
.Navajo img{
	width:25px; 
	height:100%;
}
.Pima{
	position: absolute;
    left: 313px;
    top: 614px;
    z-index: 1;
}
.Pima img{
	width:25px; 
	height:100%;
}
.Pinal{
	position: absolute;
    left: 349px;
    top: 500px;
    z-index: 1;
}
.Pinal img{
	width:25px; 
	height:100%;
}
.Santa_Cruz{
	position: absolute;
    left: 398px;
    top: 674px;
    z-index: 1;
    line-height: 14px;
}
.Santa_Cruz img{
	width:25px; 
	height:100%;
}
.Yavapai{
	position: absolute;
    left: 230px;
    top: 301px;
    z-index: 1;
}
.Yavapai img{
	width:25px; 
	height:100%;
}
.Yuma{
	position: absolute;
    left: 98px;
    top: 517px;
    z-index: 1;
}
.Yuma img{
	width:25px; 
	height:100%;
}